<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
    <body>
        <div class="container-fluid text-center">
            <div class="col col-md-auto ">
                <center>
                    <form action =" " method="post">
                        {% csrf_token %}
                        <table>
                        {{ form.as_table }}
                        </table><br>
                        <input id="form_validate" type="submit" value="VALIDATE" />
                    </form>
                   {% for message in messages %}
                   <h4 style="color:red;"> {{ message }} </h4>
                    {% endfor %}
                </center>
            </div>
        </div>
    </body>
</html>
